{
.appVersion = "3300";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
},
{
name = Roundness;
tag = RDNS;
}
);
customParameters = (
{
name = "Variable Font Origin";
value = m008;
},
{
name = "Instance Preview";
value = (
"1029384756"
);
},
{
name = blueFuzz;
value = 0;
},
{
name = blueShift;
value = 16;
},
{
name = fsType;
value = (
3
);
},
{
name = "Axis Mappings";
value = {
RDNS = {
-1 = -1;
1 = 1;
};
wght = {
100 = 100;
400 = 400;
490 = 500;
580 = 600;
670 = 700;
780 = 800;
900 = 900;
};
};
}
);
date = "2024-03-22 12:25:46 +0000";
familyName = "Inter Numeric";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature pnum;
feature tnum;
feature case;
feature zero;
feature cv01;
feature cv02;
feature cv03;
feature cv04;
feature cv05;
";
tag = aalt;
},
{
automatic = 1;
code = "sub zero.tf by zero;
sub one.tf by one;
sub two.tf by two;
sub three.tf by three;
sub four.tf by four;
sub five.tf by five;
sub six.tf by six;
sub seven.tf by seven;
sub eight.tf by eight;
sub nine.tf by nine;
sub space.tf by space;
sub nbspace.tf by nbspace;
sub period.tf by period;
sub comma.tf by comma;
sub colon.tf by colon;
sub hyphen.tf by hyphen;
sub plus.tf by plus;
sub minus.tf by minus;
sub multiply.tf by multiply;
sub divide.tf by divide;
sub asciitilde.tf by asciitilde;
";
tag = pnum;
},
{
automatic = 1;
code = "sub zero by zero.tf;
sub one by one.tf;
sub two by two.tf;
sub three by three.tf;
sub four by four.tf;
sub five by five.tf;
sub six by six.tf;
sub seven by seven.tf;
sub eight by eight.tf;
sub nine by nine.tf;
sub space by space.tf;
sub nbspace by nbspace.tf;
sub period by period.tf;
sub comma by comma.tf;
sub colon by colon.tf;
sub hyphen by hyphen.tf;
sub plus by plus.tf;
sub minus by minus.tf;
sub multiply by multiply.tf;
sub divide by divide.tf;
sub asciitilde by asciitilde.tf;
";
tag = tnum;
},
{
automatic = 1;
code = "sub colon by colon.case;
sub colon.tf by colon.tf.case;
sub hyphen by hyphen.case;
sub endash by endash.case;
sub emdash by emdash.case;
sub hyphen.tf by hyphen.tf.case;
sub plus by plus.case;
sub minus by minus.case;
sub multiply by multiply.case;
sub divide by divide.case;
sub asciitilde by asciitilde.case;
sub plus.tf by plus.tf.case;
sub minus.tf by minus.tf.case;
sub multiply.tf by multiply.tf.case;
sub divide.tf by divide.tf.case;
sub asciitilde.tf by asciitilde.tf.case;
";
tag = case;
},
{
code = "sub zero by zero.slash;
sub zero.tf by zero.tf.slash;
";
tag = zero;
},
{
code = "cvParameters { FeatUILabelNameID { name \"Alternate One\"; }; };

sub one by one.cv01;
sub one.tf by one.tf.cv01;
";
tag = cv01;
},
{
code = "cvParameters { FeatUILabelNameID { name \"Flat Three\"; }; };

sub three by three.cv02;
sub three.tf by three.tf.cv02;
";
tag = cv02;
},
{
code = "cvParameters { FeatUILabelNameID { name \"Open Four\"; }; };

sub four by four.cv03;
sub four.tf by four.tf.cv03;
";
tag = cv03;
},
{
code = "cvParameters { FeatUILabelNameID { name \"Straight Six and Nine\"; }; };

sub six by six.cv04;
sub nine by nine.cv04;
sub six.tf by six.tf.cv04;
sub nine.tf by nine.tf.cv04;
";
tag = cv04;
},
{
code = "cvParameters { FeatUILabelNameID { name \"Square Zero\"; }; };

sub zero by zero.cv05;
sub zero.slash by zero.slash.cv05;
sub zero.tf by zero.tf.cv05;
sub zero.tf.slash by zero.tf.slash.cv05;
";
tag = cv05;
}
);
fontMaster = (
{
axesValues = (
100,
-1
);
customParameters = (
{
name = hheaAscender;
value = 1984;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 100;
},
{
Axis = Roundness;
Location = -1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Light;
id = "45635B2B-919A-4B12-975B-2FA0A7CA8B35";
metricValues = (
{
pos = 1984;
},
{
over = 16;
pos = 1490;
},
{
over = 16;
pos = 1056;
},
{
over = -16;
},
{
pos = -494;
}
);
name = Light;
stemValues = (
46,
46
);
userData = {
GSCornerRadius = 320;
};
},
{
axesValues = (
100,
0
);
customParameters = (
{
name = hheaAscender;
value = 1984;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 100;
},
{
Axis = Roundness;
Location = 0;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Light;
id = m007;
metricValues = (
{
pos = 1984;
},
{
over = 16;
pos = 1490;
},
{
over = 16;
pos = 1056;
},
{
over = -16;
},
{
pos = -494;
}
);
name = "Light Softened";
stemValues = (
46,
46
);
userData = {
GSCornerRadius = 15;
};
},
{
axesValues = (
100,
1
);
customParameters = (
{
name = hheaAscender;
value = 1984;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 100;
},
{
Axis = Roundness;
Location = 1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Light;
id = m005;
metricValues = (
{
pos = 1984;
},
{
over = 16;
pos = 1490;
},
{
over = 16;
pos = 1056;
},
{
over = -16;
},
{
pos = -494;
}
);
name = "Light Rounded";
stemValues = (
46,
46
);
userData = {
GSCornerRadius = 13;
};
},
{
axesValues = (
400,
-1
);
customParameters = (
{
name = hheaAscender;
value = 1984;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
},
{
Axis = Roundness;
Location = -1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
id = "B487E3D2-4ABF-4A2A-A195-DC6AACAFF568";
metricValues = (
{
pos = 1984;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = Regular;
stemValues = (
160,
180
);
},
{
axesValues = (
400,
0
);
customParameters = (
{
name = hheaAscender;
value = 1984;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
},
{
Axis = Roundness;
Location = 0;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
id = m008;
metricValues = (
{
pos = 1984;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = Softened;
stemValues = (
160,
180
);
userData = {
GSCornerRadius = 32;
};
},
{
axesValues = (
400,
1
);
customParameters = (
{
name = hheaAscender;
value = 1984;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
},
{
Axis = Roundness;
Location = 1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
id = m004;
metricValues = (
{
pos = 1984;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = Rounded;
stemValues = (
160,
180
);
userData = {
GSCornerRadius = 32;
};
},
{
axesValues = (
900,
-1
);
customParameters = (
{
name = hheaAscender;
value = 1984;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 900;
},
{
Axis = Roundness;
Location = -1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Bold;
id = m01;
metricValues = (
{
pos = 1984;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = Black;
stemValues = (
326,
404
);
},
{
axesValues = (
900,
0
);
customParameters = (
{
name = hheaAscender;
value = 1984;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 900;
},
{
Axis = Roundness;
Location = 0;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Bold;
id = m009;
metricValues = (
{
pos = 1984;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = "Black Softened";
stemValues = (
326,
404
);
userData = {
GSCornerRadius = 72;
};
},
{
axesValues = (
900,
1
);
customParameters = (
{
name = hheaAscender;
value = 1984;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 900;
},
{
Axis = Roundness;
Location = 1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Bold;
id = m006;
metricValues = (
{
pos = 1984;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = "Black Rounded";
stemValues = (
326,
404
);
userData = {
GSCornerRadius = 72;
};
}
);
instances = (
{
name = Variable;
type = variable;
},
{
axesValues = (
100,
-1
);
name = Thin;
weightClass = 100;
},
{
axesValues = (
200,
-1
);
name = ExtraLight;
weightClass = 200;
},
{
axesValues = (
300,
-1
);
name = Light;
weightClass = 300;
},
{
axesValues = (
400,
-1
);
name = Regular;
},
{
axesValues = (
500,
-1
);
name = Medium;
weightClass = 500;
},
{
axesValues = (
600,
-1
);
name = SemiBold;
weightClass = 600;
},
{
axesValues = (
700,
-1
);
isBold = 1;
linkStyle = Regular;
name = Bold;
weightClass = 700;
},
{
axesValues = (
800,
-1
);
name = ExtraBold;
weightClass = 800;
},
{
axesValues = (
900,
-1
);
name = Black;
weightClass = 900;
},
{
axesValues = (
100,
0
);
name = "Thin Softened";
weightClass = 100;
},
{
axesValues = (
200,
0
);
name = "ExtraLight Softened";
weightClass = 200;
},
{
axesValues = (
300,
0
);
name = "Light Softened";
weightClass = 300;
},
{
axesValues = (
400,
0
);
name = Softened;
},
{
axesValues = (
500,
0
);
name = "Medium Softened";
weightClass = 500;
},
{
axesValues = (
600,
0
);
name = "SemiBold Softened";
weightClass = 600;
},
{
axesValues = (
700,
0
);
isBold = 1;
linkStyle = Softened;
name = "Bold Softened";
weightClass = 700;
},
{
axesValues = (
800,
0
);
name = "ExtraBold Softened";
weightClass = 800;
},
{
axesValues = (
900,
0
);
name = "Black Softened";
weightClass = 900;
},
{
axesValues = (
100,
1
);
name = "Thin Rounded";
weightClass = 100;
},
{
axesValues = (
200,
1
);
name = "ExtraLight Rounded";
weightClass = 200;
},
{
axesValues = (
300,
1
);
name = "Light Rounded";
weightClass = 300;
},
{
axesValues = (
400,
1
);
name = Rounded;
},
{
axesValues = (
500,
1
);
name = "Medium Rounded";
weightClass = 500;
},
{
axesValues = (
600,
1
);
name = "SemiBold Rounded";
weightClass = 600;
},
{
axesValues = (
700,
1
);
isBold = 1;
linkStyle = Rounded;
name = "Bold Rounded";
weightClass = 700;
},
{
axesValues = (
800,
1
);
name = "ExtraBold Rounded";
weightClass = 800;
},
{
axesValues = (
900,
1
);
name = "Black Rounded";
weightClass = 900;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2024 Aaron212. Reserved font name not applicable.";
}
);
},
{
key = descriptions;
values = (
{
language = dflt;
value = "A versatile numeric font based on Inter.";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = Aaron212;
}
);
},
{
key = designerURL;
value = "https://aaron212.top/";
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org/";
}
);
},
{
key = licenseURL;
value = "https://openfontlicense.org/";
},
{
key = sampleTexts;
values = (
{
language = dflt;
value = "09:41";
}
);
},
{
key = vendorID;
value = AARN;
}
);
settings = {
fontType = variable;
previewRemoveOverlap = 0;
};
stems = (
{
horizontal = 1;
name = H;
},
{
name = V;
}
);
unitsPerEm = 2048;
versionMajor = 1;
versionMinor = 6;
}
