{
.appVersion = "3135";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
},
{
name = Roundness;
tag = RDNS;
}
);
customParameters = (
{
name = "Variable Font Origin";
value = m008;
},
{
name = "Axis Mappings";
value = {
RDNS = {
-1 = -1;
1 = 1;
};
wght = {
100 = 100;
400 = 400;
500 = 490;
600 = 580;
700 = 670;
800 = 780;
900 = 900;
};
};
},
{
name = "Instance Preview";
value = (
"1029384756"
);
},
{
name = blueFuzz;
value = 0;
},
{
name = blueShift;
value = 16;
}
);
date = "2024-03-22 12:25:46 +0000";
familyName = "Inter Numeric";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature case;
feature zero;
";
tag = aalt;
},
{
automatic = 1;
code = "sub colon by colon.case;
sub hyphen by hyphen.case;
sub endash by endash.case;
sub emdash by emdash.case;
sub plus by plus.case;
sub minus by minus.case;
sub multiply by multiply.case;
";
tag = case;
},
{
automatic = 1;
code = "sub zero by zero.zero;
";
tag = zero;
}
);
fontMaster = (
{
axesValues = (
100,
-1
);
customParameters = (
{
name = hheaAscender;
value = 1940;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 100;
},
{
Axis = Roundness;
Location = -1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Light;
id = "45635B2B-919A-4B12-975B-2FA0A7CA8B35";
metricValues = (
{
pos = 1940;
},
{
over = 16;
pos = 1490;
},
{
over = 16;
pos = 1056;
},
{
over = -16;
},
{
pos = -494;
}
);
name = Light;
stemValues = (
46,
46
);
userData = {
GSCornerRadius = 15;
};
visible = 1;
},
{
axesValues = (
100,
0
);
customParameters = (
{
name = hheaAscender;
value = 1940;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 100;
},
{
Axis = Roundness;
Location = 0;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Light;
id = m007;
metricValues = (
{
pos = 1940;
},
{
over = 16;
pos = 1490;
},
{
over = 16;
pos = 1056;
},
{
over = -16;
},
{
pos = -494;
}
);
name = "Light Softened";
stemValues = (
46,
46
);
userData = {
GSCornerRadius = 15;
};
},
{
axesValues = (
100,
1
);
customParameters = (
{
name = hheaAscender;
value = 1940;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 100;
},
{
Axis = Roundness;
Location = 1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Light;
id = m005;
metricValues = (
{
pos = 1940;
},
{
over = 16;
pos = 1490;
},
{
over = 16;
pos = 1056;
},
{
over = -16;
},
{
pos = -494;
}
);
name = "Light Rounded";
stemValues = (
46,
46
);
userData = {
GSCornerRadius = 13;
};
},
{
axesValues = (
400,
-1
);
customParameters = (
{
name = hheaAscender;
value = 1940;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
},
{
Axis = Roundness;
Location = -1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
id = "B487E3D2-4ABF-4A2A-A195-DC6AACAFF568";
metricValues = (
{
pos = 1940;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = Regular;
stemValues = (
160,
180
);
},
{
axesValues = (
400,
0
);
customParameters = (
{
name = hheaAscender;
value = 1940;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
},
{
Axis = Roundness;
Location = 0;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
id = m008;
metricValues = (
{
pos = 1940;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = Softened;
stemValues = (
160,
180
);
userData = {
GSCornerRadius = 32;
};
},
{
axesValues = (
400,
1
);
customParameters = (
{
name = hheaAscender;
value = 1940;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
},
{
Axis = Roundness;
Location = 1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
id = m004;
metricValues = (
{
pos = 1940;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = Rounded;
stemValues = (
160,
180
);
userData = {
GSCornerRadius = 32;
};
},
{
axesValues = (
900,
-1
);
customParameters = (
{
name = hheaAscender;
value = 1940;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 900;
},
{
Axis = Roundness;
Location = -1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Bold;
id = m01;
metricValues = (
{
pos = 1940;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = Black;
stemValues = (
326,
404
);
},
{
axesValues = (
900,
0
);
customParameters = (
{
name = hheaAscender;
value = 1940;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 900;
},
{
Axis = Roundness;
Location = 0;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Bold;
id = m009;
metricValues = (
{
pos = 1940;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = "Black Softened";
stemValues = (
326,
404
);
userData = {
GSCornerRadius = 72;
};
},
{
axesValues = (
900,
1
);
customParameters = (
{
name = hheaAscender;
value = 1940;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoLineGap;
value = 0;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 900;
},
{
Axis = Roundness;
Location = 1;
}
);
}
);
guides = (
{
locked = 1;
name = "Cap Center";
pos = (0,745);
}
);
iconName = Bold;
id = m006;
metricValues = (
{
pos = 1940;
},
{
over = 24;
pos = 1490;
},
{
over = 24;
pos = 1056;
},
{
over = -24;
},
{
pos = -494;
}
);
name = "Black Rounded";
stemValues = (
326,
404
);
userData = {
GSCornerRadius = 72;
};
}
);
instances = (
{
axesValues = (
100,
-1
);
instanceInterpolations = {
"45635B2B-919A-4B12-975B-2FA0A7CA8B35" = 1;
};
name = Thin;
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = Thin;
}
);
weightClass = 100;
},
{
axesValues = (
200,
-1
);
instanceInterpolations = {
"45635B2B-919A-4B12-975B-2FA0A7CA8B35" = 0.66667;
"B487E3D2-4ABF-4A2A-A195-DC6AACAFF568" = 0.33333;
};
name = ExtraLight;
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = ExtraLight;
}
);
weightClass = 200;
},
{
axesValues = (
300,
-1
);
instanceInterpolations = {
"45635B2B-919A-4B12-975B-2FA0A7CA8B35" = 0.33333;
"B487E3D2-4ABF-4A2A-A195-DC6AACAFF568" = 0.66667;
};
name = Light;
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = Light;
}
);
weightClass = 300;
},
{
axesValues = (
400,
-1
);
instanceInterpolations = {
"B487E3D2-4ABF-4A2A-A195-DC6AACAFF568" = 1;
};
name = Regular;
},
{
axesValues = (
500,
-1
);
instanceInterpolations = {
"B487E3D2-4ABF-4A2A-A195-DC6AACAFF568" = 0.8;
m01 = 0.2;
};
name = Medium;
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = Medium;
}
);
weightClass = 500;
},
{
axesValues = (
600,
-1
);
instanceInterpolations = {
"B487E3D2-4ABF-4A2A-A195-DC6AACAFF568" = 0.6;
m01 = 0.4;
};
name = SemiBold;
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = SemiBold;
}
);
weightClass = 600;
},
{
axesValues = (
700,
-1
);
instanceInterpolations = {
"B487E3D2-4ABF-4A2A-A195-DC6AACAFF568" = 0.4;
m01 = 0.6;
};
isBold = 1;
linkStyle = Regular;
name = Bold;
weightClass = 700;
},
{
axesValues = (
800,
-1
);
instanceInterpolations = {
"B487E3D2-4ABF-4A2A-A195-DC6AACAFF568" = 0.2;
m01 = 0.8;
};
name = ExtraBold;
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = ExtraBold;
}
);
weightClass = 800;
},
{
axesValues = (
900,
-1
);
instanceInterpolations = {
m01 = 1;
};
name = Black;
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = Black;
}
);
weightClass = 900;
},
{
axesValues = (
100,
0
);
instanceInterpolations = {
m007 = 1;
};
name = "Thin Softened";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "Thin Softened";
}
);
weightClass = 100;
},
{
axesValues = (
200,
0
);
instanceInterpolations = {
m007 = 0.66667;
m008 = 0.33333;
};
name = "ExtraLight Softened";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "ExtraLight Softened";
}
);
weightClass = 200;
},
{
axesValues = (
300,
0
);
instanceInterpolations = {
m007 = 0.33333;
m008 = 0.66667;
};
name = "Light Softened";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "Light Softened";
}
);
weightClass = 300;
},
{
axesValues = (
400,
0
);
instanceInterpolations = {
m008 = 1;
};
name = Softened;
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = Softened;
}
);
},
{
axesValues = (
500,
0
);
instanceInterpolations = {
m008 = 0.8;
m009 = 0.2;
};
name = "Medium Softened";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "Medium Softened";
}
);
weightClass = 500;
},
{
axesValues = (
600,
0
);
instanceInterpolations = {
m008 = 0.6;
m009 = 0.4;
};
name = "SemiBold Softened";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "SemiBold Softened";
}
);
weightClass = 600;
},
{
axesValues = (
700,
0
);
instanceInterpolations = {
m008 = 0.4;
m009 = 0.6;
};
isBold = 1;
linkStyle = Softened;
name = "Bold Softened";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "Bold Softened";
}
);
weightClass = 700;
},
{
axesValues = (
800,
0
);
instanceInterpolations = {
m008 = 0.2;
m009 = 0.8;
};
name = "ExtraBold Softened";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "ExtraBold Softened";
}
);
weightClass = 800;
},
{
axesValues = (
900,
0
);
instanceInterpolations = {
m009 = 1;
};
name = "Black Softened";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "Black Softened";
}
);
weightClass = 900;
},
{
axesValues = (
100,
1
);
instanceInterpolations = {
m005 = 1;
};
name = "Thin Rounded";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "Thin Rounded";
}
);
weightClass = 100;
},
{
axesValues = (
200,
1
);
instanceInterpolations = {
m004 = 0.33333;
m005 = 0.66667;
};
name = "ExtraLight Rounded";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "ExtraLight Rounded";
}
);
weightClass = 200;
},
{
axesValues = (
300,
1
);
instanceInterpolations = {
m004 = 0.66667;
m005 = 0.33333;
};
name = "Light Rounded";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "Light Rounded";
}
);
weightClass = 300;
},
{
axesValues = (
400,
1
);
customParameters = (
{
name = "Style Name as STAT entry";
value = RDNS;
}
);
instanceInterpolations = {
m004 = 1;
};
name = Rounded;
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = Rounded;
}
);
},
{
axesValues = (
500,
1
);
instanceInterpolations = {
m004 = 0.8;
m006 = 0.2;
};
name = "Medium Rounded";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "Medium Rounded";
}
);
weightClass = 500;
},
{
axesValues = (
600,
1
);
instanceInterpolations = {
m004 = 0.6;
m006 = 0.4;
};
name = "SemiBold Rounded";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "SemiBold Rounded";
}
);
weightClass = 600;
},
{
axesValues = (
700,
1
);
instanceInterpolations = {
m004 = 0.4;
m006 = 0.6;
};
isBold = 1;
linkStyle = Rounded;
name = "Bold Rounded";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "Bold Rounded";
}
);
weightClass = 700;
},
{
axesValues = (
800,
1
);
instanceInterpolations = {
m004 = 0.2;
m006 = 0.8;
};
name = "ExtraBold Rounded";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "ExtraBold Rounded";
}
);
weightClass = 800;
},
{
axesValues = (
900,
1
);
instanceInterpolations = {
m006 = 1;
};
name = "Black Rounded";
properties = (
{
key = WWSFamilyName;
value = "Inter Numeric";
},
{
key = WWSSubfamilyName;
value = "Black Rounded";
}
);
weightClass = 900;
}
);
kerningLTR = {
"45635B2B-919A-4B12-975B-2FA0A7CA8B35" = {
"@MMK_L_comma" = {
"@MMK_R_eight" = -30;
"@MMK_R_four" = -40;
"@MMK_R_one" = -160;
"@MMK_R_quotedbl" = -200;
"@MMK_R_seven" = -70;
"@MMK_R_six" = -80;
"@MMK_R_three" = -40;
};
"@MMK_L_eight" = {
"@MMK_R_comma" = -70;
};
"@MMK_L_four" = {
"@MMK_R_comma" = -80;
"@MMK_R_one" = -140;
"@MMK_R_seven" = -60;
};
"@MMK_L_nine" = {
"@MMK_R_comma" = -80;
"@MMK_R_seven" = -40;
};
"@MMK_L_quotedbl" = {
"@MMK_R_comma" = -200;
"@MMK_R_four" = -120;
};
"@MMK_L_seven" = {
"@MMK_R_colon" = -70;
"@MMK_R_comma" = -250;
"@MMK_R_eight" = -30;
"@MMK_R_four" = -120;
"@MMK_R_seven" = 40;
"@MMK_R_six" = -32;
"@MMK_R_three" = -34;
five = -20;
nine = -20;
};
"@MMK_L_two" = {
"@MMK_R_four" = -32;
};
backslash = {
slash = 40;
};
five = {
"@MMK_R_comma" = -70;
"@MMK_R_one" = -50;
};
six = {
"@MMK_R_comma" = -70;
};
slash = {
backslash = 40;
};
};
m007 = {
"@MMK_L_comma" = {
"@MMK_R_eight" = -30;
"@MMK_R_four" = -40;
"@MMK_R_one" = -160;
"@MMK_R_quotedbl" = -200;
"@MMK_R_seven" = -70;
"@MMK_R_six" = -80;
"@MMK_R_three" = -40;
};
"@MMK_L_eight" = {
"@MMK_R_comma" = -70;
};
"@MMK_L_four" = {
"@MMK_R_comma" = -80;
"@MMK_R_one" = -140;
"@MMK_R_seven" = -60;
};
"@MMK_L_nine" = {
"@MMK_R_comma" = -80;
"@MMK_R_seven" = -40;
};
"@MMK_L_quotedbl" = {
"@MMK_R_comma" = -200;
"@MMK_R_four" = -120;
};
"@MMK_L_seven" = {
"@MMK_R_colon" = -70;
"@MMK_R_comma" = -250;
"@MMK_R_eight" = -30;
"@MMK_R_four" = -120;
"@MMK_R_seven" = 40;
"@MMK_R_six" = -32;
"@MMK_R_three" = -34;
five = -20;
nine = -20;
};
"@MMK_L_two" = {
"@MMK_R_four" = -32;
};
backslash = {
slash = 40;
};
five = {
"@MMK_R_comma" = -70;
"@MMK_R_one" = -50;
};
six = {
"@MMK_R_comma" = -70;
};
slash = {
backslash = 40;
};
};
m005 = {
"@MMK_L_comma" = {
"@MMK_R_eight" = -30;
"@MMK_R_four" = -40;
"@MMK_R_one" = -160;
"@MMK_R_quotedbl" = -200;
"@MMK_R_seven" = -70;
"@MMK_R_six" = -80;
"@MMK_R_three" = -40;
};
"@MMK_L_eight" = {
"@MMK_R_comma" = -70;
};
"@MMK_L_four" = {
"@MMK_R_comma" = -80;
"@MMK_R_one" = -140;
"@MMK_R_seven" = -60;
};
"@MMK_L_nine" = {
"@MMK_R_comma" = -80;
"@MMK_R_seven" = -40;
};
"@MMK_L_quotedbl" = {
"@MMK_R_comma" = -200;
"@MMK_R_four" = -120;
};
"@MMK_L_seven" = {
"@MMK_R_colon" = -70;
"@MMK_R_comma" = -250;
"@MMK_R_eight" = -30;
"@MMK_R_four" = -120;
"@MMK_R_seven" = 40;
"@MMK_R_six" = -32;
"@MMK_R_three" = -34;
five = -20;
nine = -20;
};
"@MMK_L_two" = {
"@MMK_R_four" = -32;
};
backslash = {
slash = 40;
};
five = {
"@MMK_R_comma" = -70;
"@MMK_R_one" = -50;
};
six = {
"@MMK_R_comma" = -70;
};
slash = {
backslash = 40;
};
};
"B487E3D2-4ABF-4A2A-A195-DC6AACAFF568" = {
"@MMK_L_comma" = {
"@MMK_R_eight" = -20;
"@MMK_R_one" = -200;
"@MMK_R_quotedbl" = -160;
"@MMK_R_seven" = -30;
"@MMK_R_six" = -50;
"@MMK_R_three" = -20;
"@MMK_R_two" = 10;
five = -30;
nine = -20;
};
"@MMK_L_eight" = {
"@MMK_R_comma" = -50;
};
"@MMK_L_four" = {
"@MMK_R_comma" = -70;
"@MMK_R_one" = -80;
"@MMK_R_seven" = -80;
};
"@MMK_L_nine" = {
"@MMK_R_comma" = -50;
"@MMK_R_seven" = -40;
};
"@MMK_L_quotedbl" = {
"@MMK_R_comma" = -160;
"@MMK_R_four" = -120;
};
"@MMK_L_seven" = {
"@MMK_R_colon" = -70;
"@MMK_R_comma" = -250;
"@MMK_R_eight" = -30;
"@MMK_R_four" = -120;
"@MMK_R_seven" = 40;
"@MMK_R_six" = -32;
"@MMK_R_three" = -34;
five = -20;
nine = -20;
};
"@MMK_L_two" = {
"@MMK_R_four" = -32;
};
backslash = {
slash = 40;
};
five = {
"@MMK_R_comma" = -60;
"@MMK_R_one" = -40;
};
six = {
"@MMK_R_comma" = -50;
};
slash = {
backslash = 40;
};
};
m008 = {
"@MMK_L_comma" = {
"@MMK_R_eight" = -20;
"@MMK_R_one" = -200;
"@MMK_R_quotedbl" = -160;
"@MMK_R_seven" = -30;
"@MMK_R_six" = -50;
"@MMK_R_three" = -20;
"@MMK_R_two" = 10;
five = -30;
nine = -20;
};
"@MMK_L_eight" = {
"@MMK_R_comma" = -50;
};
"@MMK_L_four" = {
"@MMK_R_comma" = -70;
"@MMK_R_one" = -80;
"@MMK_R_seven" = -80;
};
"@MMK_L_nine" = {
"@MMK_R_comma" = -50;
"@MMK_R_seven" = -40;
};
"@MMK_L_quotedbl" = {
"@MMK_R_comma" = -160;
"@MMK_R_four" = -120;
};
"@MMK_L_seven" = {
"@MMK_R_colon" = -70;
"@MMK_R_comma" = -250;
"@MMK_R_eight" = -30;
"@MMK_R_four" = -120;
"@MMK_R_seven" = 40;
"@MMK_R_six" = -32;
"@MMK_R_three" = -34;
five = -20;
nine = -20;
};
"@MMK_L_two" = {
"@MMK_R_four" = -32;
};
backslash = {
slash = 30;
};
five = {
"@MMK_R_comma" = -60;
"@MMK_R_one" = -40;
};
six = {
"@MMK_R_comma" = -50;
};
slash = {
backslash = 30;
};
};
m004 = {
"@MMK_L_comma" = {
"@MMK_R_eight" = -20;
"@MMK_R_one" = -200;
"@MMK_R_quotedbl" = -160;
"@MMK_R_seven" = -30;
"@MMK_R_six" = -50;
"@MMK_R_three" = -20;
"@MMK_R_two" = 10;
five = -30;
nine = -20;
};
"@MMK_L_eight" = {
"@MMK_R_comma" = -50;
};
"@MMK_L_four" = {
"@MMK_R_comma" = -70;
"@MMK_R_one" = -80;
"@MMK_R_seven" = -80;
};
"@MMK_L_nine" = {
"@MMK_R_comma" = -50;
"@MMK_R_seven" = -40;
};
"@MMK_L_quotedbl" = {
"@MMK_R_comma" = -160;
"@MMK_R_four" = -120;
};
"@MMK_L_seven" = {
"@MMK_R_colon" = -70;
"@MMK_R_comma" = -250;
"@MMK_R_eight" = -30;
"@MMK_R_four" = -120;
"@MMK_R_seven" = 40;
"@MMK_R_six" = -32;
"@MMK_R_three" = -34;
five = -20;
nine = -20;
};
"@MMK_L_two" = {
"@MMK_R_four" = -32;
};
backslash = {
slash = 20;
};
five = {
"@MMK_R_comma" = -60;
"@MMK_R_one" = -40;
};
six = {
"@MMK_R_comma" = -50;
};
slash = {
backslash = 20;
};
};
m01 = {
"@MMK_L_comma" = {
"@MMK_R_eight" = -20;
"@MMK_R_one" = -240;
"@MMK_R_quotedbl" = -230;
"@MMK_R_seven" = -90;
"@MMK_R_six" = -60;
"@MMK_R_three" = -40;
nine = -40;
};
"@MMK_L_eight" = {
"@MMK_R_comma" = -20;
};
"@MMK_L_four" = {
"@MMK_R_comma" = -70;
"@MMK_R_one" = -130;
"@MMK_R_seven" = -120;
};
"@MMK_L_nine" = {
"@MMK_R_comma" = -70;
"@MMK_R_seven" = -40;
};
"@MMK_L_quotedbl" = {
"@MMK_R_comma" = -230;
"@MMK_R_four" = -120;
};
"@MMK_L_seven" = {
"@MMK_R_colon" = -70;
"@MMK_R_comma" = -250;
"@MMK_R_eight" = -30;
"@MMK_R_four" = -120;
"@MMK_R_seven" = 40;
"@MMK_R_six" = -32;
"@MMK_R_three" = -34;
five = -20;
nine = -20;
};
"@MMK_L_two" = {
"@MMK_R_four" = -32;
};
backslash = {
slash = 40;
};
five = {
"@MMK_R_comma" = -30;
"@MMK_R_one" = -40;
};
six = {
"@MMK_R_comma" = -50;
};
slash = {
backslash = 40;
};
};
m009 = {
"@MMK_L_comma" = {
"@MMK_R_eight" = -20;
"@MMK_R_one" = -240;
"@MMK_R_quotedbl" = -230;
"@MMK_R_seven" = -90;
"@MMK_R_six" = -60;
"@MMK_R_three" = -40;
nine = -40;
};
"@MMK_L_eight" = {
"@MMK_R_comma" = -20;
};
"@MMK_L_four" = {
"@MMK_R_comma" = -70;
"@MMK_R_one" = -130;
"@MMK_R_seven" = -120;
};
"@MMK_L_nine" = {
"@MMK_R_comma" = -70;
"@MMK_R_seven" = -40;
};
"@MMK_L_quotedbl" = {
"@MMK_R_comma" = -230;
"@MMK_R_four" = -120;
};
"@MMK_L_seven" = {
"@MMK_R_colon" = -70;
"@MMK_R_comma" = -250;
"@MMK_R_eight" = -30;
"@MMK_R_four" = -120;
"@MMK_R_seven" = 40;
"@MMK_R_six" = -32;
"@MMK_R_three" = -34;
five = -20;
nine = -20;
};
"@MMK_L_two" = {
"@MMK_R_four" = -32;
};
backslash = {
slash = 30;
};
five = {
"@MMK_R_comma" = -30;
"@MMK_R_one" = -40;
};
six = {
"@MMK_R_comma" = -50;
};
slash = {
backslash = 30;
};
};
m006 = {
"@MMK_L_comma" = {
"@MMK_R_eight" = -20;
"@MMK_R_one" = -240;
"@MMK_R_quotedbl" = -230;
"@MMK_R_seven" = -90;
"@MMK_R_six" = -60;
"@MMK_R_three" = -40;
nine = -40;
};
"@MMK_L_eight" = {
"@MMK_R_comma" = -20;
};
"@MMK_L_four" = {
"@MMK_R_comma" = -70;
"@MMK_R_one" = -130;
"@MMK_R_seven" = -120;
};
"@MMK_L_nine" = {
"@MMK_R_comma" = -70;
"@MMK_R_seven" = -40;
};
"@MMK_L_quotedbl" = {
"@MMK_R_comma" = -230;
"@MMK_R_four" = -120;
};
"@MMK_L_seven" = {
"@MMK_R_colon" = -70;
"@MMK_R_comma" = -250;
"@MMK_R_eight" = -30;
"@MMK_R_four" = -120;
"@MMK_R_seven" = 40;
"@MMK_R_six" = -32;
"@MMK_R_three" = -34;
five = -20;
nine = -20;
};
"@MMK_L_two" = {
"@MMK_R_four" = -32;
};
backslash = {
slash = 10;
};
five = {
"@MMK_R_comma" = -30;
"@MMK_R_one" = -40;
};
six = {
"@MMK_R_comma" = -50;
};
slash = {
backslash = 10;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = sampleTexts;
values = (
{
language = dflt;
value = "09:41";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = Aaron212;
}
);
},
{
key = designerURL;
value = "https://aaron212.top/";
},
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2024 Aaron212. Reserved font name not applicable.";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org/";
}
);
},
{
key = licenseURL;
value = "https://openfontlicense.org/";
},
{
key = descriptions;
values = (
{
language = dflt;
value = "A versatile numeric font based on Inter.";
}
);
}
);
settings = {
keepAlternatesTogether = 1;
};
stems = (
{
horizontal = 1;
name = H;
},
{
name = V;
}
);
unitsPerEm = 2048;
versionMajor = 1;
versionMinor = 1;
}
