(
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
one.cv01,
three.cv02,
four.cv03,
six.cv04,
nine.cv04,
fraction,
space,
nbspace,
period,
comma,
colon,
colon.case,
slash,
backslash,
hyphen,
hyphen.case,
endash,
endash.case,
emdash,
emdash.case,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
degree,
plus,
plus.case,
minus,
minus.case,
multiply,
multiply.case,
percent,
_part.strline,
_part.zeroslash,
_zero_percent,
_zero_percent1
)