(
H,
I,
O,
A,
B,
C,
D,
E,
F,
G,
J,
K,
L,
M,
N,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
one.cv01,
three.cv02,
four.cv03,
six.cv04,
nine.cv04,
zero.slash,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
one.tf.cv01,
three.tf.cv02,
four.tf.cv03,
six.tf.cv04,
nine.tf.cv04,
zero.tf.slash,
fraction,
space,
nbspace,
space.tf,
nbspace.tf,
period,
comma,
colon,
slash,
backslash,
colon.case,
period.tf,
comma.tf,
colon.tf,
colon.tf.case,
hyphen,
endash,
emdash,
hyphen.case,
endash.case,
emdash.case,
hyphen.tf,
hyphen.tf.case,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
degree,
plus,
minus,
multiply,
divide,
asciitilde,
percent,
plus.case,
minus.case,
multiply.case,
divide.case,
asciitilde.case,
plus.tf,
minus.tf,
multiply.tf,
divide.tf,
asciitilde.tf,
plus.tf.case,
minus.tf.case,
multiply.tf.case,
divide.tf.case,
asciitilde.tf.case,
_zero_percent,
_zero_percent1,
_part.strline,
_part.zeroslash
)