(
H,
I,
O,
A,
D,
K,
L,
M,
N,
P,
R,
S,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
one.cv01,
three.cv02,
four.cv03,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.zero.tf,
one.tf.cv01,
three.tf.cv02,
four.tf.cv03,
six.cv04,
nine.cv04,
fraction,
space,
nbspace,
space.tf,
nbspace.tf,
period,
comma,
colon,
slash,
backslash,
colon.case,
period.tf,
comma.tf,
colon.tf,
colon.case.tf,
hyphen,
endash,
emdash,
hyphen.case,
endash.case,
emdash.case,
hyphen.tf,
hyphen.case.tf,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
degree,
plus,
minus,
multiply,
percent,
plus.case,
minus.case,
multiply.case,
plus.tf,
minus.tf,
multiply.tf,
plus.case.tf,
minus.case.tf,
multiply.case.tf,
divide,
divide.case,
divide.tf,
divide.case.tf,
_zero_percent,
_zero_percent1,
_part.strline,
_part.zeroslash
)